.banner {
    width: 100%;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    height: 200px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrap {
    max-width: 1000px;
    min-width: 320px;
    margin: 50px auto 50px;
    padding: 25px 50px 25px;
    background: #ecedec;
    box-sizing: border-box;
    overflow: hidden;
}

.form-wrap h1{
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.textblock h5 {
    text-align: left;
    color: #010203;
    font-weight: bolder;
    font-size: 1rem;
}

.textblock p{
    text-align: left;
    color: #4e555b;
    font-weight: normal;
    font-size: 1rem;
}