.banner {
    width: 100%;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    height: 150px;
    overflow: hidden;
    background-color: #cbcccb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerText {
    color: #000000;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    display: inline-block;
    /*background-color: rgba(156, 156, 156, 0.7);*/
}

.form-wrap {
    max-width: 1000px;
    min-width: 320px;
    margin: 50px auto 50px;
    padding: 50px 50px 25px;
    background: #ecedec;
    box-sizing: border-box;
    overflow: hidden;
}

.form-wrap h1{
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-wrap h6{
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
}

.form-wrap h5 {
    text-align: left;
    color: #010203;
    font-weight: bolder;
    font-size: 100%;
    height: 10%;
}

.orderWrapper {
    width: 100%;
    float:left; /* add this */
    overflow: hidden;
    padding: 0.5rem 1.25rem;
}

.order-div{
    display: flex;
    justify-content:space-between;
}

.colname{
    font-weight: 600;
    flex-basis: 300px;
}

.colval{
    color: #4e555b;
}

.buttonWrapper {
    float:right;
}

.buttonWrapper button{
    border-radius: 0.3rem;
    padding: 0 1rem;
    cursor: pointer;
    background-color: #17a2b8;
    border: 1px solid transparent;
    color: #FFFFFF;
}

.buttonWrapper button:disabled{
    background: #848484;
    color: #FFFFFF;
}

@media (max-width: 575px) {
    .form-wrap {
        padding: 25px 25px 10px
    }

    .buttonWrapper {
        padding-top: 0.5rem;
        float:unset;
    }

    .order-div{
        flex-direction: column;
    }

    .colname{
        flex-basis: auto;
    }
}