.form-wrap {
  max-width: 75%;
  min-width: 500px;
  margin: 50px auto 50px;
  padding: 50px 50px 10px;
  background: #ecedec;
  box-sizing: border-box;
  overflow: hidden;
}

.textblock h5 {
  text-align: left;
  color: #010203;
  font-weight: bolder;
  font-size: 1rem;
}
.textblock p{
  text-align: left;
  color: #010203;
  font-weight: normal;
  font-size: 1rem;
}



div.gallery {
  display: grid;
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 30%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1%;
  text-align: center;
}