.form-wrap {
  max-width: 1000px;
  min-width: 320px;
  margin: 50px auto 50px;
  padding: 50px 50px 25px;
  background: #ecedec;
  box-sizing: border-box;
  overflow: hidden;
}

.textblock h5 {
  text-align: left;
  color: #010203;
  font-weight: bolder;
  font-size: 1rem;
}
.textblock p{
  text-align: left;
  color: #4e555b;
  font-weight: normal;
  font-size: 1rem;
}

.container {
  overflow: hidden;
}


.col-div {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title-div {
  margin-bottom: 0.5rem;
}

.text-block {
  position: absolute;
  top: 0px;
  left: 0px;
}

.text-block img{
  margin-right: 0.5rem;
}

.example-container {
  display: inline-block;
  position: relative;
  padding-top: 55px;
}

@media (max-width: 575px) {
  .form-wrap {
    padding: 25px 0 10px
  }
}
