.resetForm {
    display: block;
    font-size: 16px;

}

.resetForm input {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 0;
    background: #fff;
    border: 1px solid #e5e7ea;
    font-size: inherit;
}

.resetForm div {
    text-align: center;
}

.resetForm p {
     text-align: center;
 }

.resetForm h2 {
    text-align: center;
}