.form-wrap {
    max-width: 1000px;
    min-width: 320px;
    margin: 50px auto 50px;
    padding: 50px 50px 25px;
    background: #ecedec;
    box-sizing: border-box;
    overflow: hidden;
    border: double orange 1rem;
    border-image-slice: 60 60 60 60;
    border-image-width: 60px 60px 60px 60px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    border-image-source: url("../../assets/images/certificate-frame.jpg");
}
.title {
    text-align: center;
    z-index: 1;
    padding: 50px 0 25px;
    position: relative;
}

.title h3 {
    font-family: "IM Fell English SC", cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
}

.title p {
    font-size: 1.5rem;
}

.container {
    overflow: hidden;
    margin-bottom: 50px;
}

.col-div {
    text-align: center;
    margin-bottom: 1.5rem;
}

.text-block {
    position: absolute;
    top: 80px;
    left: 10px;
    transform: rotate(-30deg);
}

.text-block img {
    height: 120px;
    width: auto;
}

@media (max-width: 575px) {
    .form-wrap {
        padding: 25px 25px 10px;
        border-image-slice: 40 40 40 40;
        border-image-width: 40px 40px 40px 40px;
    }

    .text-block {
        top: 170px;
    }

    .text-block img {
        height: 100px;
        width: auto;
    }
}