.banner {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerText {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  display: inline-block;
  /*background-color: rgba(156, 156, 156, 0.7);*/
}

.form-wrap {
  max-width: 1000px;
  min-width: 500px;
  margin: 50px auto 50px;
  padding: 25px 50px 25px;
  background: #ecedec;
  box-sizing: border-box;
  overflow: hidden;
}

.form-wrap h1{
  font-size: 1.75rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 20px;
}

