.container {
  position: relative;
}
.textblock {
  position: absolute;
  top: 5%;
  margin-left: 15%;
  margin-right: 10%;
  background-color: white;
  color: black;
  opacity: 0.6;
  padding-left: 4%;
  padding-right: 4%;
}
.textblock h1 {
    text-align: center;
}
.textblock p{
    text-align: center;
}