.HomeContent img {
    height: 600px;
}

.HomeContent {
    margin: auto;
    text-align: center;
    position: relative;
    top:100px;
}

@media (min-width: 1200px) {
    .HomeContent{
        width: 1200px;
    }
}

.HomeContent span {
    background-color: #e8e4e3;
    color: #2e2e2e;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    position:absolute;
    z-index: 100;
    /*font-family: "Ubuntu";*/
}

.itemsSpan {
    top: 0;
    right: -50px;
}

.yearsSpan {
    top: 180px;
    left: -20px;
}

.responseSpan {
    bottom: 10px;
    right: -60px;
}